.App {
  text-align: center;
  margin-top: 0;
}

.Cart {
  margin-left: 100px;
  margin-right: 100px;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  color: #fefefe;
  font-size: 43.2px;
  font-weight: bold;
  padding-left: 15%;
  text-align: left;
  background-color: #12709e;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navigation {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  padding-left: 15%;
}

.navigation div {
  float: left;
  overflow: hidden;
}

.navigation-img {
  transition: all 0.3s ease;
}

.navigation-img:hover {
  background-color: #e1e1e1;
}
.desc {
  float: left;
}

.attribute {
  float: right;
}

.clear {
  clear: both;
}
